{% extends "admin_layout.html" %}
{% block body %}
    <h2>Confirm</h2>
    <article class="media content-section">
        <div class="media-body">
            <p style="text-align:center;" class="enrollment-content">Are you sure you want to delete the line
                '<b>{{ line.filename }}</b>'?
            </p>
            <p style="text-align:center;">
                Group leader's information:<br>
                {{ enrollment.group_leader_name }} <br>
                {{ enrollment.group_leader_phone }} <br>
                {{ enrollment.group_leader_email }}
            </p>
            <div style="text-align:center;">
                <form style="display:inline-block" method="GET" action="{{ url_for('manage') }}">
                    <input class="btn btn-outline-info" type="submit" value="No">
                </form>
                <p style="display:inline-block"></p>
                <form style="display:inline-block" method="GET" action="{{ url_for('admin_delete_line', id=line.id) }}">
                    <input class="btn btn-danger" type="submit" value="Yes">
                </form>
            </div>
        </div>
    </article>
{% endblock %}