{% extends "admin_layout.html" %}
{% block body %}
  <h3 class="admin-layout mt-4 mb-4" style="text-align: left;"><a href="{{ url_for('manage') }}">< Manage</a></h3>
  <div class="content-section">
    <form  method="POST" action="{{ url_for('upload_audio') }}" enctype="multipart/form-data">
      {{ form.csrf_token }}
      <fieldset class="form.group">
        <legend class="border-bottom mb-4">Upload Audio</legend>
        <div class="form-group">
          {{ form.name.label(class="form-control-label") }}
          {% if form.name.errors %}
            {{ form.name(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.name.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.name(class="form-control form-control-lg") }}
          {% endif %}
        </div>
        <div class="form-group">
            <p class="form-control-label">Audio File</p>
            <input type="file" name="music" id="music" accept="audio/*">
        </div>
        <div class="form-group">
          {{ form.submit(class="btn wide-btn btn-outline-info") }}
        </div>
      </fieldset>
    </form>
  </div>
{% endblock %}